*{
    margin: 0;
    padding: 0;
}
.container{
    max-width: 80vw;
}
.topleft{
    width: 50%;
}
.topright{
    width: 50%;
    
}
/* .px{
    padding: 1px 500px;
} */
.section1{
    height: auto;
    
}
.section2{
    height: 100vh;
    padding: 42px;
    
}
.section2 h1{ 
    text-align: center;
    padding-bottom: 10px;
    color: rgb(240, 15, 139);

}
.section2 p{ 
    text-align: center;
    padding: 1px;

}

